body{
  background-color: #2baccc;
}
.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  font-weight: 700;
  padding: 10%
}
.landing > button{
  padding: 2%;
  margin: 10%;
  font-weight: 900;
  font-size: xx-large;
}
.container{
  width: 60vw;
  background-color: #163c5f;
  margin: auto;
  margin-top: 10vh;
  color: white;
  border-radius: 1em;
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
}
.question-container{
  display: flex;
  align-items: center;
  width: 60vw;
  padding: 0 5%;
}
.questions{
  width: 30vw;
  padding: 5% 2%;
}
.options{
  width: 30vw;
  padding: 5% 2%;
}
.single-option{
  width: 70%;
  border: 2px solid  #0f72a3;
  border-radius: 0.8em;
  padding: 0.2em;
  margin: 0.2em;
}
.single-option:hover{
  background-color: rgb(123, 149, 182) ;
}
@media (max-width: 650px){
  .container{
    width: 80vw;
  }
  .question-container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto
  }
  .questions{
    width: 70vw;
  }
  .options{
    width: 100%;
  }
  .single-option{
    margin: auto;
  }
}